.chat-page{

height:100vh;

background:#090a0d;

display:flex;

flex-direction:column;

color:white;

}



.chat-header{

height:60px;

background:#111318;

display:flex;

align-items:center;

padding:0 15px;

gap:15px;

}



.chat-header button{

background:none;

border:0;

color:white;

font-size:25px;

}



#messages{

flex:1;

overflow-y:auto;

padding:15px;

display:flex;

flex-direction:column;

gap:8px;

}



.message{

max-width:75%;

padding:10px 14px;

border-radius:18px;

font-size:16px;

}



.message.mine{

align-self:flex-end;

background:#1877ff;

border-bottom-right-radius:5px;

}



.message.other{

align-self:flex-start;

background:#20242b;

border-bottom-left-radius:5px;

}



.time{

font-size:11px;

opacity:.6;

text-align:right;

margin-top:5px;

}



.send-box{

height:65px;

display:flex;

gap:10px;

padding:10px;

background:#111318;

}



.send-box input{

flex:1;

border-radius:25px;

border:0;

background:#20242b;

color:white;

padding:0 18px;

font-size:16px;

}



.send-box button{

width:45px;

height:45px;

border-radius:50%;

border:0;

background:#1877ff;

color:white;

font-size:20px;

}
