body {
  margin:0;
  height:100vh;
  background:#0b0b0f;
  color:white;
  font-family:Arial,sans-serif;
}

.screen {
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.logo {
  font-size:52px;
  font-weight:700;
  margin-bottom:20px;
}

.subtitle {
  color:#aaa;
  margin-bottom:40px;
}

button {
  width:260px;
  padding:16px;
  border:0;
  border-radius:18px;
  background:#7c3aed;
  color:white;
  font-size:18px;
}

.bottom {
  position:absolute;
  bottom:30px;
  color:#666;
}

.card {
 background:#17171f;
 padding:30px;
 border-radius:24px;
 width:300px;
}

input {
 width:100%;
 padding:14px;
 margin:20px 0;
 border-radius:14px;
 border:0;
 background:#0b0b0f;
 color:white;
}

h2 {
 margin:0;
}

#status {
 color:#aaa;
}


.code-boxes {
 display:flex;
 gap:8px;
 justify-content:center;
 margin:25px 0;
}

.code-boxes input {
 width:42px;
 height:50px;
 text-align:center;
 font-size:24px;
 border-radius:14px;
 background:#0b0b0f;
 color:white;
 border:1px solid #333;
}

.hint {
 color:#888;
}

