*{
box-sizing:border-box;
font-family:Arial,sans-serif;
}


body{

margin:0;
background:#08080c;
color:white;

}


.screen{

min-height:100vh;
display:flex;
align-items:center;
justify-content:center;

}


.card{

width:90%;
max-width:380px;

padding:30px;

background:#12121a;

border-radius:28px;

text-align:center;

}


.logo{

font-size:40px;
font-weight:800;

}


.hint{

color:#888;

}



.code-boxes{

display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:8px;

margin:25px 0;

}


.code-boxes input{

width:42px;
height:52px;

border-radius:14px;

border:1px solid #333;

background:#08080c;

color:white;

text-align:center;

font-size:24px;

outline:none;

}


.code-boxes input:focus{

border-color:#7c3aed;

}


button{

width:100%;

padding:16px;

border:none;

border-radius:18px;

background:#7c3aed;

color:white;

font-size:16px;

}


#status{

color:#aaa;

}



.input-box{

display:flex;
align-items:center;

height:58px;

background:#0d0d14;

border:1px solid #2b2b38;

border-radius:18px;

padding:0 18px;

margin:25px 0;

transition:.2s;

}


.input-box:focus-within{

border-color:#7c3aed;

box-shadow:0 0 15px rgba(124,58,237,.35);

}


.mail-icon{

font-size:20px;

margin-right:12px;

opacity:.7;

}


.input-box input{

flex:1;

height:100%;

background:transparent;

border:none;

outline:none;

color:white;

font-size:17px;

}


.input-box input::placeholder{

color:#777;

}

